@use 'base/variables' as v;
@use 'base/mixins' as m;


.profesores {
    margin-top: 4rem;

    &__heading {
        text-align: center;
        color: v.$blanco;
        span {
            color: v.$primario;
        }
    }

    .slide {
        position: relative;
        overflow: hidden;
        margin-bottom: 4rem;
        user-select: none;

        img {
            height: 55rem;
            width: 100%;
            border-radius: .5rem;
            object-fit: cover;
        }
        h3{
            font-size: 2rem;
            color: v.$blanco;
            margin: 1.5rem 0 0 0;
            text-align: center;
        }

        &:hover .share{
            left: 2rem;
        }

        .share {
            position: absolute;
            top: 1rem;
            left: -10rem;
            transition: .3s;
            a {
                display: block;
                margin-top: 1rem;
                height: 4.5rem;
                width: 4.5rem;
                line-height: 4.5rem;
                border-radius: .5rem;
                background-color: v.$blanco;
                color: v.$negro;
                text-align: center;
                font-size: 2rem;

                &:hover {
                    background-color: v.$primario;
                    color: v.$blanco;
                }
            }
        }
    }

    .swiper-pagination-bullet{
        background-color: v.$blanco;
    }
      
    .swiper-pagination-bullet-active{
        background-color: v.$primario;
    }
}